<p>
    <BButton>默认按钮</BButton>
    <BButton Type="@ButtonType.Primary">主要按钮</BButton>
    <BButton Type="@ButtonType.Success">成功按钮</BButton>
    <BButton Type="@ButtonType.Info">信息按钮</BButton>
    <BButton Type="@ButtonType.Warning">警告按钮</BButton>
    <BButton Type="@ButtonType.Danger">危险按钮</BButton>
</p>
<p>
    <BButton>朴素按钮</BButton>
    <BButton Type="@ButtonType.Primary" IsPlain="true">主要按钮</BButton>
    <BButton Type="@ButtonType.Success" IsPlain="true">成功按钮</BButton>
    <BButton Type="@ButtonType.Info" IsPlain="true">信息按钮</BButton>
    <BButton Type="@ButtonType.Warning" IsPlain="true">警告按钮</BButton>
    <BButton Type="@ButtonType.Danger" IsPlain="true">危险按钮</BButton>
</p>
<p>
    <BButton>圆角按钮</BButton>
    <BButton Type="@ButtonType.Primary" IsRound="true">主要按钮</BButton>
    <BButton Type="@ButtonType.Success" IsRound="true">成功按钮</BButton>
    <BButton Type="@ButtonType.Info" IsRound="true">信息按钮</BButton>
    <BButton Type="@ButtonType.Warning" IsRound="true">警告按钮</BButton>
    <BButton Type="@ButtonType.Danger" IsRound="true">危险按钮</BButton>
</p>
<p>
    <BButton IsCircle="true" Icon="el-icon-search"></BButton>
    <BButton Type="@ButtonType.Primary" IsCircle="true" Icon="el-icon-edit"></BButton>
    <BButton Type="@ButtonType.Success" IsCircle="true" Icon="el-icon-check"></BButton>
    <BButton Type="@ButtonType.Info" IsCircle="true" Icon="el-icon-message"></BButton>
    <BButton Type="@ButtonType.Warning" IsCircle="true" Icon="el-icon-star-off"></BButton>
    <BButton Type="@ButtonType.Danger" IsCircle="true" Icon="el-icon-delete"></BButton>
</p>
<p></p>