 <p>
    <BButton>默认按钮</BButton>
    <BButton Type="@ButtonType.Primary" Size="@Element.ButtonSize.Medium">中型按钮</BButton>
    <BButton Type="@ButtonType.Success" Size="@Element.ButtonSize.Small">小型按钮</BButton>
    <BButton Type="@ButtonType.Info" Size="@Element.ButtonSize.Mini">迷你按钮</BButton>
</p>
<p>
    <BButton IsRound="true">默认按钮</BButton>
    <BButton IsRound="true" Type="@ButtonType.Primary" Size="@Element.ButtonSize.Medium">中型按钮</BButton>
    <BButton IsRound="true" Type="@ButtonType.Success" Size="@Element.ButtonSize.Small">小型按钮</BButton>
    <BButton IsRound="true" Type="@ButtonType.Info" Size="@Element.ButtonSize.Mini">迷你按钮</BButton>
</p>