@inherits MenuContainer
@implements IMenuItem
<li role="menuitem" tabindex="0" aria-haspopup="true"
    onmouseover="@OnOver"
    onmouseout="@OnOut"
    class="el-submenu @(active?"is-active":"") @(opened?"is-opened":"")"
    aria-expanded="@(opened?"true":"")">
    <div onclick="@OnClick" class="el-submenu__title" style="background-color:@backgroundColor;color:@textColor; border-bottom-color:@borderColor;">
        @Label
        <i class="el-submenu__icon-arrow el-icon-arrow-down"></i>
    </div>
    @if (IsVertical)
    {
        <ul role="menu" class="el-menu el-menu--inline" style="background-color: @backgroundColor;@(opened?"":"display:none;")" data-old-padding-top="" data-old-padding-bottom="" data-old-overflow="">
            <CascadingValue Value="this">
                @ChildContent
            </CascadingValue>
        </ul>
    }
</li>

@functions {

    [Parameter]
    private string Index { get; set; }

    [Parameter]
    private RenderFragment ChildContent { get; set; }

    [Parameter]
    private bool Disabled { get; set; } = false;

    [Parameter]
    private string Label { get; set; }

    [CascadingParameter]
    public MenuContainer Container { get; set; }

    [CascadingParameter]
    public MenuOptions Options { get; set; }

    private string textColor;
    private string backgroundColor;
    private string borderColor;

    private bool active = false;
    private bool opened = false;

    private bool IsVertical { get {
            return Options != null && Options.Mode == "vertical";
        } }

    public void Active()
    {
        active = true;

    }
    public void DeActive()
    {
        active = false;
        borderColor = "transparent";

        if (_activedItem != null)
        {
            _activedItem.DeActive();
            _activedItem = null;
        }
    }

    public override void ActiveItem(IMenuItem item)
    {
        if (item == null)
        {
            return;
        }

        base.ActiveItem(item);
        Container.ActiveItem(this);
    }

    protected override void OnInit()
    {
        backgroundColor = Options.BackgroundColor;
        textColor = Options.TextColor;

        base.OnInit();
    }

    private void OnOver()
    {
        //todo: 颜色值经过计算而得
        backgroundColor = Options.HoverColor;
        //opened = true;
    }

    private void OnOut()
    {
        //opened = false;
    }

    private void OnClick()
    {
        if (IsVertical)
        {
            opened = !opened;
        }
    }
}
