@inherits InputBase
@{
    string isDisabled = string.Empty;
    string isDisabledClass = string.Empty;
    if (IsDisabled)
    {
        isDisabled = "disabled";
        isDisabledClass = " is-disabled";
    }


    if (IsClearable)
    {
        isDisabledClass += " el-input--suffix";
    }




    //UIChangeEventArgs
}
    <div class="el-input @isDisabledClass">
        <label>@InputValue</label>
        <input type="text" placeholder="@Placeholder" value="@InputValue"  class="el-input__inner"  isDisabled  onfocus="@OnFocusEventArgs" onblur="@OnBlurEventArgs" onchange="@OnChangeEventArgs"/>
        @if (isClearable)
        {
            <span class="el-input__suffix" onfocus="@OnFocusEventArgs">
                <span class="el-input__suffix-inner">
                    <!---->
                    <i class="el-input__icon el-icon-circle-close el-input__clear" onclick="@ClearOnClick">
                    </i><!----><!---->
                </span><!---->
            </span>
        }
    </div>