@page "/tabs"
@inherits TabsBase
<BCard For="@demos">
    <Header>
        @context.Title
    </Header>
    <Body>
        <BSimpleTab Type="@TabType.BorderCard" OnActiveTabChanged="@ActiveTabChanged">
            <BSimpleTabPanel Title="运行效果">
                <BDynamicComponent Component="@context.Demo"></BDynamicComponent>
            </BSimpleTabPanel>
            <BSimpleTabPanel Title="示例代码">
                <pre class="language-xml"><code class="language-xml">@context.Code</code></pre>
            </BSimpleTabPanel>
        </BSimpleTab>
    </Body>
</BCard>
<style>
    .el-card {
        margin-bottom: 10px;
    }
</style>