@page "/tabs"
@inherits TabsBase
<BCard For="@demos">
    <Header>
        @context.Title  - @context.Description
    </Header>
    <Body>
        <BTab Type="@TabType.BorderCard" OnActiveTabChanged="@ActiveTabChanged">
            <BTabPanel Title="运行效果">
                <BDynamicComponent Component="@context.Demo"></BDynamicComponent>
            </BTabPanel>
            <BTabPanel Title="示例代码">
                <pre class="language-xml"><code class="language-xml">@context.Code</code></pre>
            </BTabPanel>
        </BTab>
    </Body>
</BCard>
<style>
    .el-card {
        margin-bottom: 10px;
    }
</style>