@inherits BasicLangInjectBase
<div>@Lang.T("Message")</div>
<h1>@Lang.T("Snowman:Data:Title")</h1>
<div>@Lang.T("Snowman:Body")</div>
<br/>
<BButton Type="@ButtonType.Primary" OnClick="SetEnLang">@Lang.T("SetEnLang")</BButton>
<BButton Type="@ButtonType.Primary" OnClick="SetCnLang">@Lang.T("SetCnLang")</BButton>