@inherits BComponentBase
<p>
    <BRadio @bind-SelectedValue="selectedValue" Value="@("1")" StatusChanging="@OnStatusChanging">选项1</BRadio>
    <BRadio @bind-SelectedValue="selectedValue" Value="@("2")" StatusChanging="@OnStatusChanging">选项2</BRadio>
    <BRadio @bind-SelectedValue="selectedValue" Value="@("3")">选项3</BRadio>
</p>