@inherits PageBase
@if (demos == null)
{
    @("拼命加载中...")
}
else
{
    <BCard DataSource="@demos">
        <Header>
            @context.Title
        </Header>
        <Body>
            <BSimpleTab Type="@TabType.BorderCard">
                <BSimpleTabPanel Title="运行效果" IsActive="true" Name="display">
                    <BDynamicComponent Component="@context.Demo"></BDynamicComponent>
                </BSimpleTabPanel>
                <BSimpleTabPanel Title="示例代码">
                    <BSimpleTab DataSource="context.Options">
                    </BSimpleTab>
                </BSimpleTabPanel>
            </BSimpleTab>
        </Body>
    </BCard>
    <style>
        .el-card {
            margin-bottom: 10px;
        }
    </style>
}