<BLayout>
    <West>
        <BCard Shadow="@ShadowShowType.Never">
            <Header>
                左边
            </Header>
            <Body>
                左边
            </Body>
        </BCard>
    </West>
    <Center>
        <BCard Shadow="@ShadowShowType.Never">
            <Header>
                中间
            </Header>
            <Body>
                <BLayout>
                    <West>
                        <BCard Shadow="@ShadowShowType.Never">
                            <Header>
                                左边
                            </Header>
                            <Body>
                                左边
                            </Body>
                        </BCard>
                    </West>
                    <Center>
                        <BCard Shadow="@ShadowShowType.Never">
                            <Header>
                                中间
                            </Header>
                            <Body>
                                中间
                            </Body>
                        </BCard>
                    </Center>
                    <East>
                        <BCard Shadow="@ShadowShowType.Never">
                            <Header>
                                右边
                            </Header>
                            <Body>
                                右边
                            </Body>
                            
                        </BCard>
                    </East>
                    <South>
                        <BCard Shadow="@ShadowShowType.Never">
                            <Header>
                                下边
                            </Header>
                            <Body>
                                下边
                            </Body>
                        </BCard>
                    </South>
                    <North>
                        <BCard Shadow="@ShadowShowType.Never">
                            <Header>
                                上边
                            </Header>
                            <Body>
                                上边
                            </Body>
                        </BCard>
                    </North>
                </BLayout>
            </Body>
        </BCard>
    </Center>
    <East>
        <BCard Shadow="@ShadowShowType.Never">
            <Header>
                右边
            </Header>
            <Body>
                右边
            </Body>
        </BCard>
    </East>
    <South>
        <BCard Shadow="@ShadowShowType.Never">
            <Body>
                下边
            </Body>
        </BCard>
    </South>
    <North>
        <BCard Shadow="@ShadowShowType.Never">
            <Body>
                上边
            </Body>
        </BCard>
    </North>
</BLayout>