@using System.Threading.Tasks;

@if (Theme == ButtonTheme.Disabled)
{
    <button type="@Type.ToString().ToLower()" disabled class="layui-btn layui-btn-@Theme.ToString().ToLower()" onclick="@OnClick">@ChildContent</button>
}
else
{
<button type="@Type.ToString().ToLower()" class="layui-btn layui-btn-@Theme.ToString().ToLower()" onclick="@OnClick">@ChildContent</button>
}

@functions{
    [Parameter]
    ButtonTheme Theme { get; set; } = ButtonTheme.Default;

    [Parameter]
    private Action<UIMouseEventArgs> OnClick { get; set; }

    private ButtonType Type { get; set; } = ButtonType.Button;

    [Parameter]
    private RenderFragment ChildContent { get; set; }

    protected override async Task OnInitAsync()
    {
    }
}