@inherits BComponentBase
@{
    var icon = Icon;
    if (Loading)
    {
        icon = LoadingIcon;
    }

}
@if (string.IsNullOrWhiteSpace(Image))
{
    <button type="@NativeType" @onclick="OnButtonClickedAsync" style="@buttonStyleBuilder" class="@cssClassBuilder" disabled="@(Disabled || Loading)" autofocus="@Autofocus">
        @if (Loading)
        {
            <i class="@LoadingIcon"></i>
        }
        else if (!string.IsNullOrWhiteSpace(icon))
        {
            <i class="@icon"></i>
        }
        @if (!string.IsNullOrWhiteSpace(ButtonTextContent) || ChildContent != null)
        {
            <span>@(ButtonTextContent ?? string.Empty)@ChildContent</span>
        }
    </button>
}
else
{
    <img src="@showingImage" class="@Cls" @onclick="OnButtonClickedAsync" style="@HtmlPropertyBuilder.CreateCssStyleBuilder().Add(Style).Add("cursor:pointer").ToString()" @onmouseover="MouseOver" @onmouseout="MouseOut" />
}
