@inherits BFieldComponentBase<TValue>
@typeparam TValue
@{
    var text = Formatter(Value);
    var nativeValue = text ?? string.Empty;
    var isClearable = Value != null && Clearable && !IsInputDisabled && !Readonly && (IsFocus || IsMouseOver);
    var hasSuffix = HasSuffix;
    var inputStyle = HtmlPropertyBuilder.CreateCssStyleBuilder()
        .Add(InputStyle)
        .AddIf(ShowPasswordToggle, "padding-right:60px")
        .AddIf(IsWordLimitVisible && WordLimitPosition != "outside", "padding-right:60px")
        .AddIf(!string.IsNullOrWhiteSpace(Image), "background: transparent", "border: transparent")
        .ToString();
    var textareaStyle = HtmlPropertyBuilder.CreateCssStyleBuilder()
        .Add(InputStyle)
        .AddIf(IsWordLimitVisible && WordLimitPosition != "outside", "padding-right:52px")
        .AddIf(!string.IsNullOrWhiteSpace(Image), "background: transparent", "border: transparent")
        .AddIf(!string.IsNullOrWhiteSpace(Resize), $"resize:{Resize}")
        .ToString();
}
<div class="@wrapperClsBuilder" @ref="Content" style="@HtmlPropertyBuilder.CreateCssStyleBuilder().Add(Style).AddIf(!string.IsNullOrWhiteSpace(Image),$"background:url('{Image}') center center no-repeat")" @onclick="OnClick" @onmouseover="e => IsMouseOver = true" @onmouseout="e=>IsMouseOver=false">
    @if (Prepend != null && Type != InputType.Textarea)
    {
        <div class="el-input-group__prepend">
            @Prepend
        </div>
    }
    @if (Type == InputType.Textarea)
    {
        <textarea id="@Id" style="@textareaStyle" @ref="InputElement" @attributes="Attributes" @onclick="OnInputClick" placeholder="@Placeholder" value="@nativeValue" class="@InputElementClass" @onfocus="OnFocusEventAsync" @onblur="OnBlurEventAsync" @oncompositionstart="OnCompositionStartAsync" @oncompositionupdate="OnCompositionUpdateAsync" @oncompositionend="OnCompositionEndAsync" @oninput="OnChangeEventArgs" @onchange="OnNativeChangeAsync" name="@Name" disabled="@IsInputDisabled" readonly="@Readonly" maxlength="@Maxlength" minlength="@Minlength" rows="@Rows" autocomplete="@Autocomplete" autofocus="@Autofocus" tabindex="@Tabindex" aria-label="@AriaLabel" inputmode="@Inputmode" form="@Form" aria-invalid="@IsAriaInvalid" aria-describedby="@AriaDescribedBy" />
        @if (isClearable)
        {
            <i class="el-textarea__icon el-textarea__clear el-icon-circle-close @(AdditionalClearIcon ?? string.Empty)" @onclick="ClearOnClick"></i>
        }
        @if (IsWordLimitVisible)
        {
            <span class="el-input__count @(WordLimitPosition == "outside" ? "is-outside" : string.Empty)">@TextLength / @Maxlength</span>
        }
    }
    else
    {
        @if (!string.IsNullOrWhiteSpace(PrefixIcon))
        {
            <span class="el-input__prefix">
                <span class="el-input__prefix-inner">
                    <i class="el-input__icon @PrefixIcon" @onclick="OnPrefixIconClick"></i>
                </span>
            </span>
        }
        <input id="@Id" type="@NativeInputType" style="@inputStyle" @ref="InputElement" @attributes="Attributes" @onclick="OnInputClick" placeholder="@Placeholder" value="@nativeValue" class="@InputElementClass" @onfocus="OnFocusEventAsync" @onblur="OnBlurEventAsync" @oncompositionstart="OnCompositionStartAsync" @oncompositionupdate="OnCompositionUpdateAsync" @oncompositionend="OnCompositionEndAsync" @oninput="OnChangeEventArgs" @onchange="OnNativeChangeAsync" @onkeydown="OnKeyDown" name="@Name" disabled="@IsInputDisabled" readonly="@Readonly" maxlength="@Maxlength" minlength="@Minlength" autocomplete="@Autocomplete" autofocus="@Autofocus" tabindex="@Tabindex" aria-label="@AriaLabel" inputmode="@Inputmode" form="@Form" aria-invalid="@IsAriaInvalid" aria-describedby="@AriaDescribedBy" />
        @if (hasSuffix)
        {
            <span class="el-input__suffix">
                <span class="el-input__suffix-inner">
                    @if (isClearable)
                    {
                        <i class="el-input__icon el-input__clear el-icon-circle-close @(AdditionalClearIcon ?? string.Empty)" @onclick="ClearOnClick"></i>
                    }
                    else if (!string.IsNullOrWhiteSpace(SuffixIcon))
                    {
                        <i class="el-input__icon @SuffixIcon" @onclick="OnSuffixIconClick"></i>
                    }
                    @if (ShowPasswordToggle)
                    {
                        <i class="el-input__icon el-input__password el-icon-view" @onclick="TogglePasswordVisibility"></i>
                    }
                    @if (IsWordLimitVisible)
                    {
                        <span class="el-input__count @(WordLimitPosition == "outside" ? "is-outside" : string.Empty)">
                            <span class="el-input__count-inner">@TextLength / @Maxlength</span>
                        </span>
                    }
                    @if (HasValidationStatusIcon)
                    {
                        <i class="@ValidationStatusIconClass"></i>
                    }
                </span>
            </span>
        }
        @if (Append != null)
        {
            <div class="el-input-group__append">
                @Append
            </div>
        }
    }
</div>
