@inherits BFieldComponentBase<TValue>
@typeparam TValue
@{
    string isDisabledClass = string.Empty;
    if (IsDisabled)
    {
        isDisabledClass = " is-disabled";
    }

    var text = Formatter(Value);
    var isClearable = Value != null && IsClearable && (IsFocus || IsMouseOver);
}
<div class="@wrapperClsBuilder" @ref="Content" style="@HtmlPropertyBuilder.CreateCssStyleBuilder().Add(Style).AddIf(!string.IsNullOrWhiteSpace(Image),$"background:url('{Image}') center center no-repeat")" @onclick="OnClick" @onmouseover="e => IsMouseOver = true" @onmouseout="e=>IsMouseOver=false">
    @if (Type == InputType.Textarea)
    {
        <textarea type="@Type.ToString().ToLower()" style="@HtmlPropertyBuilder.CreateCssStyleBuilder().AddIf(!string.IsNullOrWhiteSpace(Image),"background: transparent;border: transparent;").Add("height: 60px;","overflow-y: hidden; ").ToString()" @ref="InputElement" @onclick="OnInputClick" placeholder="@Placeholder" value="@text" class="el-input__inner " @onfocus="e=>_=OnFocusAsync()" @onblur="e=>IsFocus=false" @oninput="OnChangeEventArgs" name="@Name" disabled="@IsDisabled" />
    }
    else
    {
        <input type="@Type.ToString().ToLower()" style="@HtmlPropertyBuilder.CreateCssStyleBuilder().AddIf(!string.IsNullOrWhiteSpace(Image),"background: transparent;border: transparent;").ToString()" @ref="InputElement" @onclick="OnInputClick" placeholder="@Placeholder" value="@text" class="el-input__inner " @onfocus="e=>_=OnFocusAsync()" @onblur="e=>IsFocus=false" @oninput="OnChangeEventArgs" name="@Name" disabled="@IsDisabled" />
    }

    @if (isClearable)
    {
        <span class="el-input__suffix">
            <span class="el-input__suffix-inner">
                <!---->
                <i class="el-input__icon el-icon-circle-close @(AdditionalClearIcon ?? "el-input__clear")" @onclick="ClearOnClick">
                </i><!----><!---->
            </span><!---->
        </span>
    }
    else
    {
        @if (!string.IsNullOrWhiteSpace(SuffixIcon))
        {
            <span class="el-input__suffix">
                <span class="el-input__suffix-inner">
                    <!---->
                    <i class="el-input__icon @SuffixIcon" @onclick="OnSuffixIconClick">
                    </i><!----><!---->
                </span><!---->
            </span>
        }
    }
    @if (!string.IsNullOrWhiteSpace(PrefixIcon))
    {
        <span class="el-input__prefix">
            <i class="el-input__icon @PrefixIcon" @onclick="OnPrefixIconClick"></i>
        </span>
    }
</div>