@typeparam TValue
@{
    var clsBuilder = HtmlPropertyBuilder.CreateCssClassBuilder()
        .Add("el-select-dropdown__item")
        .AddIf(Disabled, "is-disabled")
        .AddIf(IsSelected, "selected")
        .AddIf(IsHover, "hover");
    var isHidden = !IsVisible ? "display:none;" : string.Empty;
}
<li class="@clsBuilder.ToString()" style="@isHidden" @onclick="SelectItemAsync" role="option" aria-selected="@IsSelected" aria-disabled="@Disabled" tabindex="@(Disabled ? -1 : 0)">
    <span>
        @if (!string.IsNullOrWhiteSpace(Text))
        {
            @Text
        }
        else
        {
            @ChildContent
        }
    </span>
</li>
