@inherits BFieldComponentBase<TValue>
@typeparam TValue
@{
    var suffixIconClsList = new List<string>();
    suffixIconClsList.Add("el-select__caret");
    suffixIconClsList.Add(Loading ? "el-icon-loading" : "el-icon-arrow-up");
    if (!Loading && dropDownOption != null && dropDownOption.IsShow)
    {
        suffixIconClsList.Add("is-reverse");
    }
}
<div class="@warpperClsBuilder.ToString()"
     @onclick="OnSelectClick"
     @onkeydown="OnKeyDownAsync"
     @ref="elementSelect"
     role="combobox"
     aria-haspopup="listbox"
     aria-expanded="@IsDropDownOpen"
     aria-disabled="@Disabled"
     tabindex="@(Disabled ? -1 : 0)">
    <BInput TValue="string"
            Clearable="Clearable"
            Disabled="Disabled"
            Readonly="@(!Filterable)"
            Size="@Size"
            @bind-EnableClearButton="EnableClearButton"
            SuffixIcon="@string.Join(" ",suffixIconClsList)"
            Placeholder="@Placeholder"
            ValueChanged="UpdateValue"
            Value="@DisplayLabel"
            AdditionalClearIcon="el-select__caret"
            ValidateEvent="false">
    </BInput>
</div>
