@inherits BTabPanelBase
@{
    var isActive = string.Empty;
    var ariaSelected = string.Empty;
    if (IsActive && Tabs.Type != TabType.Normal)
    {
        isActive = "is-active";
        ariaSelected = "true";
    }

    var name = Name;
    if (string.IsNullOrWhiteSpace(name))
    {
        name = Index.ToString();
    }
}
<div ref="@Element" id="tab-@name" aria-controls="pane-@name" role="tab" tabindex="@(IsActive ? 0 :-1)" onclick="@Activate" class="el-tabs__item is-top @isActive" aria-selected="@ariaSelected">@Title</div>