<p>
    <BButton IsDisabled="true">默认按钮</BButton>
    <BButton Type="@ButtonType.Primary" IsDisabled="true">主要按钮</BButton>
    <BButton Type="@ButtonType.Success" IsDisabled="true">成功按钮</BButton>
    <BButton Type="@ButtonType.Info" IsDisabled="true">信息按钮</BButton>
    <BButton Type="@ButtonType.Warning" IsDisabled="true">警告按钮</BButton>
    <BButton Type="@ButtonType.Danger" IsDisabled="true">危险按钮</BButton>
</p>
<p>
    <BButton IsDisabled="true">朴素按钮</BButton>
    <BButton Type="@ButtonType.Primary" IsPlain="true" IsDisabled="true">主要按钮</BButton>
    <BButton Type="@ButtonType.Success" IsPlain="true" IsDisabled="true">成功按钮</BButton>
    <BButton Type="@ButtonType.Info" IsPlain="true" IsDisabled="true">信息按钮</BButton>
    <BButton Type="@ButtonType.Warning" IsPlain="true" IsDisabled="true">警告按钮</BButton>
    <BButton Type="@ButtonType.Danger" IsPlain="true" IsDisabled="true">危险按钮</BButton>
</p>